.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;

  margin: 32px 0 0;

  list-style: none;
  padding: 0;
}

.pagination li {
  border: 1px solid #dee2e6;
  border-radius: 12px;
  cursor: pointer;
  min-width: 36px;
  height: 36px;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.pagination li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #4e2829;
  font-size: 14px;
}

.pagination .active {
  background-color: #975052;
  border-color: #975052;
}

.active a {
  color: #fff !important;
  font-weight: 500;
}
.pagination li:hover {
  transform: translateY(-2px);
  background-color: #f6e8e8;
}
.pagination li.active:hover {
  background-color: #7d3f41;
  transform: none;
}
