.page {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.table th {
  background: #f6f6f6;
}
.button {
  display: inline-block;
  margin: 20px 0;
  padding: 10px 20px;

  background-color: #975052;
  color: white;

  border-radius: 8px;

  text-decoration: none;

  transition: 0.25s;
}

.button:hover {
  opacity: 0.85;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.image {
  width: 70px;
  height: 90px;
  object-fit: cover;
  border-radius: 8px;
}

.edit {
  color: #975052;
  text-decoration: none;
  font-weight: 500;
}

.edit:hover {
  text-decoration: underline;
}

.viewButton {
  color: #975052;
  text-decoration: none;
  font-weight: 600;
}
