/* app\(shop)\catalog\[slug]\page.module.css */

.section {
  padding: 40px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.backWrapper {
  margin-bottom: 32px;
}
.product {
  display: grid;
  gap: 40px;
}
.imageWrapper {
  width: 100%;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.button {
  width: fit-content;
  padding: 14px 30px;

  border: none;
  border-radius: 30px;

  background: #975052;
  color: white;

  cursor: pointer;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}

.addToCart {
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 12px;
  background-color: #975052;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.addToCart:hover {
  opacity: 0.9;
}

.relatedSection {
  margin-top: 80px;
}

.relatedTitle {
  margin-bottom: 32px;

  text-align: center;

  font-size: 32px;
  font-weight: 600;
}

@media (min-width: 768px) {
  .product {
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }
}
